
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-sidenav-user="true">

<head>
    <meta charset="utf-8" />
    <title>LetsBet | Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <script src="~/js/head.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="auth-fluid-pages pb-0">

    <div class="auth-fluid">

        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="p-3">

                    <!-- Logo -->
                    <div class="auth-brand text-center text-lg-start">
                        <div class="auth-brand">
                            <a href="@Url.RouteUrl("AuthenticationLogin")" class="logo logo-dark text-center">
                                <span class="logo-lg">
                                    <img src="~/images/letsbet-logo-dark.png" alt="" height="22">
                                </span>
                            </a>
                        </div>
                    </div>

                    <!-- title-->
                    <h4 class="mt-0">Sign Up</h4>
                    <p class="text-muted mb-4">Please fill all inputs.</p>

                    <!-- form -->
                    @using (Html.BeginRouteForm("AuthenticationSignUpPost", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label for="emailaddress" class="form-label">Email address</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "emailaddress", placeholder = "Enter your email", type = "email" })
                        </div>
                        <div class="mb-3">
                            <a href="@Url.RouteUrl("AuthenticationForgotPassword")" class="text-muted float-end"><small>Forgot your password?</small></a>
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group input-group-merge">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "password", placeholder = "Enter your password", type = "password" })
                                <div class="input-group-text" data-password="false">
                                    <span class="password-eye"></span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-label", @for = "checkbox-signin" })
                                <label class="form-check-label" for="checkbox-signin">Remember me</label>
                            </div>
                        </div>
                        <div class="text-center d-grid">
                            <button class="btn btn-primary" type="submit">Log In </button>
                        </div>
                    }

                    <footer class="footer footer-alt">
                        <p class="text-muted">Don't have an account? <a href="@Url.RouteUrl("AuthenticationSignUp")" class="text-muted ms-1"><b>Sign Up</b></a></p>
                    </footer>

                </div>
            </div>
        </div>

        <div class="auth-fluid-right text-center">
            <div class="auth-user-testimonial">
                <p class="lead">
                    <i class="mdi mdi-format-quote-open"></i>
                    Coming together is a beginning, staying together is progress<br />and working together is success.
                    <i class="mdi mdi-format-quote-close"></i>
                </p>
                <h5 class="text-white">
                    - Henry Ford
                </h5>
            </div>
        </div>



    </div>
    <script src="~/js/pages/authentication.init.js"></script>

</body>
</html>

